.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.card__image {
  width: 100%;
  display: block;
}
.headPhone__image {
  width: 80%;
  height: 326px;
  margin: auto;
}
